/**
 * COMMENTS CSS STYLES
 */
.frg-comment-box {
    margin: 40px 0px;
    background: #fff;
}

.frg-comment-box h3 {
    font-size: 18px;
    font-weight: bold;

}

.frg-comment-box .well {
	margin-bottom: 0;
}

.frg-comment-box ul {
    list-style: none;
}

.frg-comment-list > ul {
	padding: 20px;
}

.comment-body {
	border-bottom: 1px solid #eee;
}
